<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Entrar</title>
    </head>
    <body>
        <main>
            <h1>Acesse sua Conta</h1>
            <h2><a href="{% url 'inicio' %}">CAMPONECT</a></h2>
            <form action="{% url 'entrar' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" required autocomplete="off">
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required autocomplete="off">
                </div>
                <br>
                <button type="submit">Entrar</button>
            </form>
            <p><a href="#">Esqueceu sua senha?</a></p>
            <div class="register-link">
                <p>Não tem uma conta? <a href="{% url 'cadastrar_usuario' %}">Cadastre-se</a></p>
            </div>
        </main>    
    </body>
</html>


