@media (min-width: 768px){ /* Maior que 501px (monitor) */
    .menu-mobile, .categorias-mobile{
        display: none;
    }
}

@media (max-width: 768px){ /* Menor que 768px (celular)*/
    /* WEB */
    .menu, .corpo, .menu-rodape{
        display: none;
    }

    .menu-mobile{
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: rgb(4, 90, 42);
    }

    .grupo-menu-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        height: 90%;
        margin: auto;
        /* border: 2px solid red; */
    }

    .logotipo-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14%;
        height: 80%;
        /* border: 2px solid blue; */
    }

    .imagem-logo-mobile img{
        width: 100%;
        height: 100%;
    }

    .buscar-mobile{
        display: flex;
        align-items: center;
        height: 80%;
        width: 80%;
        height: 80%;
        /* border: 2px solid blue; */
    }

    .buscar-mobile .input-group-append button{
        background-color: rgb(0, 0, 0);
    }

    .corpo-mobile{
        width: 95%;
        height: 500px;
        margin: auto;
        margin-top: 7%;
        /* border: 2px solid red; */
    }

    .propaganda-banner-mobile{
        width: 100%;
        height: 150px;
        /* border: 2px solid rgb(0, 241, 52);   */
    }

    .card-propaganda-banner-mobile{
        width: 100%;
        height: 150px;
        border-radius: 2%;
        background-color: rgb(4, 90, 42);
    }


    .categorias-mobile{
        display: flex;
        align-items: center;
        justify-content: start;
        margin: auto;
        margin-top: 7%;
        width: 100%;
        height: 80px;

        overflow-x: scroll; /* Permite a rolagem horizontal */
        -webkit-overflow-scrolling: touch; /* Suaviza a rolagem em dispositivos iOS */
        white-space: nowrap; /* Impede a quebra de linha */
        scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
        /* border: 2px solid blue; */
    }

    .categorias-mobile::-webkit-scrollbar{
        display: none; /* Oculta a barra de rolagem no Chrome, Safari e Edge */
    }

    .card-categoria-mobile{
        flex: 0 0 auto; /* Assegura que as categorias não encolham */
        width: 22%;
        height: 80px;
        margin-right: 5%;
        border-radius: 8%;
        background-color: rgb(4, 90, 42);
    }

    /* .card-categoria-mobile img{
        width: 100%;
        height: 100%;
        border-radius: 5%
    } */

    #titulo-recentes-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7%;
        width: 100%;
        height: 5px;
        font-size: 17px;
        /* border: 20px solid red; */
    }

    .anuncios-recentes-mobile{
        display: flex;
        align-items: center;
        margin-right: 10%;
        margin-top: 2%;
        width: 100%;
        height: 400px;
        border: 2px solid rgb(89, 0, 255);
    }

    .cards-recentes-mobile{
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 55%;
        height: 400px;
        border-top-left-radius: 3%;  /* Ajuste conforme necessário */
        border-top-right-radius: 3%; /* Ajuste conforme necessário */
        border-bottom-left-radius: 3%;  /* Sem borda arredondada */
        border-bottom-right-radius: 3%; /* Sem borda arredondada */
        background-color: white;
        border: 2px solid rgb(0, 238, 255);
    }

    .cards-recentes-img-mobile{
        width: 100%;
        height: 50%;
        border: 2px solid gold;
    }

}

