@media (min-width: 501px){ /* Maior que 501px (monitor) */
    .menu-mobile{
        display: none;
    }
}

@media (max-width: 500px){ /* Menor que 500px (celular)*/
    /* WEB */
    .menu, .corpo, .menu-rodape{
        display: none;
    }

    .menu-mobile{
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: rgb(4, 90, 42);
    }

    .grupo-menu-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        height: 90%;
        margin: auto;
        /* border: 2px solid red; */
    }

    .logotipo-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14%;
        height: 80%;
        /* border: 2px solid blue; */
    }

    .imagem-logo-mobile img{
        width: 100%;
        height: 100%;
    }

    .buscar-mobile{
        display: flex;
        align-items: center;
        height: 80%;
        width: 80%;
        height: 80%;
        /* border: 2px solid blue; */
    }

    .buscar-mobile .input-group-append button{
        background-color: rgb(0, 0, 0);
    }

    .corpo-mobile{
        display: flex;
        width: 95%;
        height: 500px;
        margin: auto;
        margin-top: 3%;
        /* border: 2px solid red; */
    }

    .propaganda-banner-mobile{
        display: flex;
        width: 100%;
        height: 150px;
        /* border: 2px solid rgb(241, 0, 0);   */
    }

    .propaganda-banner-mobile .img-propaganda-mobile {
        display: flex;
        margin: auto;
        width: 100%;
        height: 150px;
    }

    .category-container {
        display: flex;
        overflow-x: scroll; /* Permite a rolagem horizontal */
        -webkit-overflow-scrolling: touch; /* Suaviza a rolagem em dispositivos iOS */
        white-space: nowrap; /* Impede a quebra de linha */
        scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
      }
      
      .category-container::-webkit-scrollbar {
        display: none; /* Oculta a barra de rolagem no Chrome, Safari e Edge */
      }
      
      .category {
        flex: 0 0 auto; /* Assegura que as categorias não encolham */
        padding: 10px;
        margin: 5px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
}

